---
export const prerender = false;

const PAGE_PASSWORD = 'topsecret';

const password = Astro.url.searchParams.get('password');
const authenticated = password == PAGE_PASSWORD;

if (!authenticated)	{
    console.log('auth', authenticated)
    return Astro.redirect('/sample.json')
}
---

<h2>This is a Secret Page</h2>

<p>The answer is 42.</p>